################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XC8213-XP827-SXA171-Solr662/bin
/XC8213-XP827-SXA171-Solr662/docs
